[submodule "Firmware/Firmware/src/graphics/lvgl"]
	path = Firmware/Firmware/src/graphics/lvgl
	url = https://github.com/littlevgl/lvgl.git
[submodule "Simulator/graphics/SDL-mirror"]
	path = Simulator/graphics/SDL-mirror
	url = https://github.com/spurious/SDL-mirror.git
[submodule "Simulator/graphics/lvgl"]
	path = Simulator/graphics/lvgl
	url = https://github.com/littlevgl/lvgl.git
