name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master,dev/develop,dev/coroutine ]
  pull_request:
    branches: [ master,dev/develop,dev/coroutine]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build-windows-simulator:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with:
        submodules: 'true'

    #Install the latest cmake
    - name : Get the latest CMake version
      uses: lukka/get-cmake@latest

    - name: Run CMakeLists build for MSVC compiler
      uses: lukka/run-cmake@v2
      with:
        cmakeGenerator: VS16Win64
        cmakeListsOrSettingsJson: CMakeListsTxtAdvanced
        cmakeListsTxtPath: ${{ github.workspace }}/Firmware/CMakeLists.txt
        cmakeBuildType: Debug
        cmakeAppendedArgs: '-DPACKAGE_TESTS=ON -DTARGET_PLATFORM:STRING="FIRMWARE_SIMULATOR"'
        buildDirectory: '${{ runner.workspace }}/build/vsfirmwarebuild'
        buildWithCMake: true
    - name : Run firmware testing
      run: |
        cd ${{ runner.workspace }}/build/vsfirmwarebuild/Debug
        .\FirmwareTesting.exe
  build-arm:

    runs-on: ubuntu-latest

    steps:

    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2
      with:
        submodules: 'true'

    #Install the latest cmake
    - name : Get the latest CMake version
      uses: lukka/get-cmake@latest

    # - name: Get the latest arm-none-eabi-gcc
    #   uses: fiam/arm-none-eabi-gcc@v1
    #   with:
    #     release: '10-2020-q2'
    #     directory: ${{ github.workspace }}/toolchain
    - name: Get the latest arm-gcc-none-eabi-gcc
      uses: wei/wget@v1
      id: download-arm-gcc
      with:
        args: 'https://developer.arm.com/-/media/Files/downloads/gnu-rm/10-2020q4/gcc-arm-none-eabi-10-2020-q4-major-x86_64-linux.tar.bz2'

    - name: Unpack arm-gcc-compiler
      run: |
        mkdir toolchain
        tar -xjf ${{ github.workspace }}/toolachin/gcc-arm-none-eabi-10-2020-q4-major-x86_64-linux.tar.bz2 --directory ${{ github.workspace }}/toolchain

    - name: Get NRF52 16.0 SDK
      uses: wei/wget@v1
      id: download-nrf52sdk
      with:
        args: 'https://www.nordicsemi.com/-/media/Software-and-other-downloads/SDKs/nRF5/Binaries/nRF5SDK160098a08e2.zip'
    
    - name: Unpack NordicSDK
      run: |
        mkdir Nrf52SDK
        unzip nRF5SDK160098a08e2.zip -d Nrf52SDK
        mv Nrf52SDK/components/boards/pca10040.h Nrf52SDK/components/boards/pca10040_1.h

    - name: Run CMakeLists generation for GCC compiler
      uses: lukka/run-cmake@v2
      with:
        cmakeGenerator: UnixMakefiles
        cmakeListsOrSettingsJson: CMakeListsTxtAdvanced
        cmakeListsTxtPath: ${{ github.workspace }}/Firmware/CMakeLists.txt
        cmakeBuildType: Debug
        cmakeAppendedArgs : '-DEXECUTE_MCU_FLASHING=OFF -DCMAKE_BUILD_TYPE:STRING=Debug -DPACKAGE_TESTS=OFF -DNRF5_SDK_PATH=${{ github.workspace }}/Nrf52SDK -DARM_NONE_EABI_TOOLCHAIN_PATH:PATH=${{ github.workspace }}/toolchain'
        buildWithCMake: true

    # # Runs a set of commands using the runners shell
    # - name: Run a multi-line script
    #   run: |
    #     echo Add other actions to build,
    #     echo test, and deploy your project.